*.swp
*.pyc
*.png
data/*
build

examples/faces/lfw-funneled.tgz
examples/faces/lfw_funneled
examples/faces/lfw_funneled_gray
examples/faces/haarcascade_frontalface_*.xml
examples/faces/*.npy.gz
examples/faces/*.npy
examples/faces/face_*.txt
